.router{
    display: flex;
    float: left;
    /* justify-content: center; */
}

.dashboard {
    background-color: #2196F3; 
    color: #FFFFFF; 
    height: 100vh;
    width:100vw;
    /* padding: 30px; */
  }
  
  .dashboard ul {
    list-style-type: none;
  }
  .leaderboard{
    background-color:#090c92 ;
    border-radius: 10px;
    margin: 10x;
    padding: 0px;
  }

  .dashboard-heading{
    margin: 10x;
  }


  .heading-leaderboard{
    padding: 7px;
  }


  .module-content{
    width:10%;
    margin-right: 50px;
    flex-direction: row;

    /* padding-left: 0; */
  }

  .dashboard li {
    margin-bottom: 10px;
  }
  
  .dashboard a {
    text-decoration: none;
    color: #FFFFFF;

  }
  
  
  .dashboard a:hover {
    text-decoration: underline;
  }


.box{
    height: 100vh;
    width: 70vw;
    width:100vw;

}